.blog-section{
    padding: 7rem 0;
    background-color: #fff;
}
.blog-section .section-title{
    margin-bottom: 4rem;
}
.blog-title{width: 100%; }

.blog-section .section-title p{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    color: #333;
    line-height: 25px;
}
.blog_section_btn_box{
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
}
.home_blog_slider{
    display:flex;
    align-items: center
}
.blog_section_btn_box i{
    padding: 8px;
    margin-right: 6px;
    background-color: blue;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}
.blog_section_btn_box i:hover{
    background-color: #fff;
    color:blue;
    border: 1px solid blue;
}
.blog_section_btn_box p{
    display: none;
    padding: 1rem;
}
.blog-section .page-row{
    flex-wrap: wrap;
}
.blog-card-col{
    width: 100%;
    padding-bottom: 20px;
}
.blog-card-col:last-child{
    padding-right: 0;
}
.blog-card{
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #eee;
}
.blog-card img{
    height: 250px;
    width: 100%;
    border-radius: 20px;
}
.blog-text{
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.blog-text .category{
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 4px;
    display: block;
    color:blue;
}
.blog-text h6{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #333;
    text-transform: capitalize;
}
.blog-date{
    font-size: 12px;
    color: #666;
}
.blog-date i{
    font-size: 13px;
    padding: 8px 10px;
    background-color: #f1f1f1;
    color: #666;
    border-radius: 50%;
    margin-right: 8px;
}
.card-text{
    height: 115px;
    overflow: hidden;
}
.blog-text p{
    font-size: 13px;
    color: #888;
    line-height: 24px;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}
.blog-text button{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    border: 1px solid blue;
    border-radius: 30px;
    margin-top: 1.5rem;
    position: relative;
    background-color: #fff;
    font-weight: 500;
    color: blue;
    cursor: pointer;
    padding: 5px 16px;
}
.blog-text button:hover{
    background-color: blue;
    color: #fff;
}
.blog-text button i{
    padding: 10px;
    top: -1px;
    border-radius: 15px;
    margin-left: 8px;
}
@media(min-width:1200px)
{
    .blog-card-col{width: 33%; padding-right: 20px;}
    .blog-section .section-title h1{width: 40%;}
}